<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='/css/styles.css'>
    <title>ABOUT</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Vivian. It uses data from mapbox.com and darksky.net!</p>
      <img class='portrait' src="/img/me.jpg">
    </div>
    {{>footer}}
  </body>
</html>
